* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000000;
}


.container {
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
        width: 95%;
    }
}
@media (max-width: 1599.98px) {
    .container {
        width: 95%;
    }
}


.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #EEEFF1;
}

.navbar ul {
    width: 50%;
    height: auto;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    transition: all .2s ease-in;
    cursor: pointer;
}

.navbar ul li a:hover {
    cursor: pointer;
    color: #34547A;
}

.logo {
    width: 96px;
    cursor: pointer;
}

.nav {
    flex: 1;
    padding-left: 60px;
}

.nav.ul.li {
    display: inline;
    list-style: none;
    margin: 0px 20px;
}

.header-content {
  padding-top: 150px;
  background-color: #EEEFF1;
  padding-bottom: 150px;
}

.header-content__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1070px;
    margin-top: 138px;
    margin-left: auto;
    margin-right: auto;
}

.header-content__wrapper__left {
  max-width: 357px;
}

.header-content__wrapper__left img {
  width: 100%;
  height: auto;
}

.header-content__wrapper__right {
  max-width: 544px;
}

.header-content-wrap__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
}

.header-content-wrap__text {
  font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 60px;
    color: #727272;
}

.btn {
    width: 225px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34547A;
    padding: 25px 41px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    transition: all .2s ease-in;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.btn--short {
  width: 190px;
}

.btn:hover {
    background-color: rgb(21, 73, 120 );
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.about.container{
    justify-content: center;
}

.about-info {
    width: 540px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.about__title {
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
}


.about__text {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: auto;
    color: #727272;
}


/* ........... */
.block-skills {
    width: 100%;
    height: 250px;;
    background: #34547A;
    margin-top: 120px;
    margin-bottom: 80px;
}

.block-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 100px;
}

.box-skills {
    width: 141px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-skills img {
    width: 50px;
    height: 50px;
}
.box-skills__info {
    width: 50%;
    height: auto;
    position: relative;
    top: 5px;
}

.box-skills__title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 21px;
    margin: auto;
    text-align: left;
}

.box-skills__text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    float: right;
    margin: auto;
}
/* ........... */
.skill .container {
    justify-content: center;
}

.skill__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1150px;
}

.skill__wrapper__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 49%;
}

.skill-wrap__title {
    font-size: 32px;
    font-weight: 500;
}

.row-about {
    padding-right: 150px;
}

.row-about__text {
    color: #727272;
}

#volume {
    width: 446px;
    height: 4px;
}

.skill__wrapper__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
}

.skill-wrap__img {
    width: 555px;
    height: 450px;
}
/* ........... */

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #EEEFF1;
}

.work-info {
    width: 540px;
    margin-top: 100px;
    margin-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
}

.work__title {
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
}

.work__text {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #727272;
    margin: auto;
}

.work-video {
    background: url('../img/video.jpg') no-repeat center;
    background-size: cover;
    max-width: 1110px;
    height: 600px;
    margin: auto auto 100px auto;
    width: 100%;
    position: relative;
}

a.button {
    background-color: #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease;
    text-decoration: none;
}

a.button:hover {
    background-color: rgb(0, 59, 71 );
    text-decoration: none;
}

.button i {
    color: #000000;
    font-size: 30px;
    left: 5px;
    position: relative;
}

.gallery {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 25%;
    height: auto;
    position: relative;
    transition: all .2s ease-in;
}
.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in;
}

.gallery__item:hover::before {
    cursor: pointer;
    background-color: rgba(52, 84, 122, 0.8);
}

.gallery-icon  {
    position: absolute;
    width: 100px;
    height: 100px;
    display: none;
}

.gallery__item:hover .gallery-icon {
  display: block;
}

.block-icons {
  width: 100%;
  height: 120px;
  margin-top: 100px;
}

.block-info {
  display: flex;
  margin: 0 auto;
}

.box-icons {
  margin-right: 30px;
}


.proposal {
  max-width: 100%;
  margin-top: 93px;
  background: #EEEFF1;
}

.proposal-about {
    width: 100%;
    margin: 107px auto;
}

.proposal__title {
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 500;
}

.proposal__text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin: auto;
  max-width: 540px;
}

.proposal__form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.proposal__inputs-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.proposal__form input {
  border: none;
  outline: none;
  width: 48%;
  height: 55px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.proposal__form input:focus {

}

.proposal__form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.proposal__form button {
  margin: auto;
  outline: none;
}


.layout {
  width: 100%;
  height: 151px;
  background: #34547A;
}

.end-info {
  padding-top: 50px;
}

.end-about {

}

.end-about__title {
  font-weight: 500;
  font-size: 21px;
  color: #FFFFFF;
  margin: auto;
}

.end-about__text {
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.end-icon a {
  cursor: pointer;
  text-decoration: none;
}

.end-icon a:hover {
  cursor: pointer;
  text-decoration: none;
}


i.fab {
  margin-right: 22px;
  color: #FFFFFF;
  font-size: 30px;
}

